input {
    height: 25px;
    width: 250px;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

.container {
    float: left;
    background-color: #835107;
    padding: 20px;
    border-radius: 10px;
}

.history-title {
    background-color: #4E4E4E;
}

.history {
    text-align: center;
    font-size: 24px;
    background-color: #E4C474;
}

.history-list {
    font-size: 18px;
    font-weight: 100;
    list-style: none;
    padding: 0;
    max-height:500px;
    overflow: auto;
}

.history-list li {
    text-align: center;
    margin-bottom: 10px;
}

.board-img {
    float: right;
    margin-right: 100px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
}

.main-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

@media screen and (max-device-width: 1050px) {
    input {
        height: 35px;
    }
    .main-wrapper {
        align-items: center;
        flex-direction: column-reverse;
    }

    .board-img {
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }
}