.container {
    background-color: #835107;
    position: absolute;
    border-radius: 10px;
    border-width: 0;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}