.container {
    background-color: #835107;
    margin: 400px auto;
    border-radius: 10px;
    border-width: 0;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 600px) {
    .container {
        width: 500px;
    }
}