.container {
    margin-top: 40px;
}

.btns {
    margin-top: 40px;
}

h1, h2 {
    text-align: center;
}

.board-img {
    width: 640px;
    height: 640px;
    border-radius: 10px;
}

.main-wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-device-width: 600px) {

    .board-img {
        border-radius: 10px;
        margin: 0 auto;
        width: 500px;
        height: 500px;
    }
    .main-wrapper{
        margin-top: 50px;
    }

.container {
    margin-top: 40px;
}

}