.container {
    background-color: #835107;
    margin: 200px auto;
    border-radius: 10px;
    border-width: 0;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invite-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #835107;
    border-radius: 10px;
    text-align: center;
}

.container > * {
    width: 80%;
    text-align: center;
}

@media screen and (max-device-width: 600px) {
    .container {
        width: 500px;
        height: 300px;
    }
}

