* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background: #E4C474;
}

header {
    width: 100%;
    height: 60px;
}

nav {
    background-color: #835107;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

button {
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    padding: 4px 10px;
}


.orange-button {
    background-color: #E4C474;
    text-decoration: none;
    color: #4E4E4E;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.gray-button {
    background-color: #4E4E4E;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.logo {
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.logo-text {
    display: inline-block;
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.logo-img {
    width: 50px;
    height: 40px;
}


input {
    border-radius: 10px;
    text-indent: 5px;
    background: #E4C474;
    color: #4E4E4E;
    font-weight: bold;
    font-size: 20px;
}
input::placeholder {
    color: #4E4E4E;
}
.red-li {
    background: red;
}

.black-li {
    background: black;
}

.white-li {
    background: white;
    color: black;
}

@media screen and (max-device-width: 600px) {
 
    .logo {
        margin-right: 5px;
        margin-left: 5px;
        float: left;
    }

    .logo-text {
        display: inline-block;
        font-size: 60px;
        margin-top: 6px;
        margin-bottom: 4px;
    }

    .logo-img {
        width: 60px;
        height: 60px;
    }
    header {
        height: 100px;
    }
    .gray-button{
        padding: 5px;
        font-size: 35px;
    }
    .orange-button{
        padding: 2px;
        font-size: 35px;
    }

    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    input {
        font-size: 30px;
    }
    

}