body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background: #E4C474;
}

header {
    background-color: #323232;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 60px;
}

nav {
    background-color: #835107;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

main {
    margin-top: 80px;
}

button {
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    padding: 4px 10px;
}


.orange-button {
    background-color: #E4C474;
    text-decoration: none;
    color: #4E4E4E;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.gray-button {
    background-color: #4E4E4E;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.logo {
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.logo-text {
    display: inline-block;
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.logo-img {
    width: 50px;
    height: 40px;
}


input {
    border-radius: 10px;
    text-indent: 5px;
    background: #E4C474;
    color: #4E4E4E;
    font-weight: bold;
    font-size: 20px;
}
input::placeholder {
    color: #4E4E4E;
}

@media screen and (max-width: 600px) {
    .logo {
        margin-right: 5px;
        margin-left: 5px;
        float: left;
    }

    .logo-text {
        display: inline-block;
        font-size: 20px;
        margin-top: 6px;
        margin-bottom: 4px;
    }

    .logo-img {
        width: 30px;
        height: 20px;
    }
    header {
        background-color: #323232;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 30px;
    }
}